#layoutDiv {
    background-color: black;
}

.navbar {
    /* background-color: #1A1E23ff; */
    background-color: black;
    height: 5rem;
}

#favBtn {
    display: inline;
    margin-left: 170px;
    margin-top: -90px;
    margin-bottom: 0;
    box-shadow: 1px 1px 4px 1px #ffc107; 
}

@keyframes continuousFlip {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}
.btn-outline-warning.dropdown-toggle.show .fa-heart {
    animation: continuousFlip 1s infinite linear;
}

.dropdown-menu {
    margin-left: 168px;
    margin-top: -30px !important;
}
.favLink {
    color: yellow;
}
.favLink:hover {
    color: white;
}
.fa-trash-can {
    margin-left: 10px;
}
.fa-trash-can:hover {
    color: #cc0020;
    cursor: pointer;
}

#swLogo {
    margin-right: 100px;
}

h1 {
    align-self: flex-start;
    margin-left: 12%;
    color: #cc0020;
}

#cardDiv {
    overflow-y: hidden !important;
    width: 78%;
}
.card {
    margin: 10px;
    min-width: 18rem;
}
#cardBody {
    display: flex;
    flex-direction: column;
}
#cardBody p {
    margin-bottom: 6px;
}
.detail-label {
    font-weight: 600; 
}

#cardBtnGroup {
    margin-top: auto;
    margin-bottom: -6px;
}
.btn-heart:hover .heartBtn {
    color: #cc0020 !important;
}